h1 {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

h3 {
    color: dodgerblue;
}

h5 {
    color: green;
}

p {
    margin-bottom: 20px;
    text-align: justify;
    display: block;
}

iframe {
    max-width: 560px;
    max-height: 315px;
    width: 100%;
    height: -webkit-fill-available;
}

.row > div {
    padding: 0px;
}

.fixedheight {
    min-height: 200px;
}

.studyimages {
    float: right;
    margin-left: 10px;
    max-height: 200px;
    max-width: 300px;
}

.highlightedword {
    color: green;
    font-weight: bold;
}

.supportimage {
    width: inherit;
    padding: 10px;
}

.branches {
    float: right;
    margin: 20px;
    width: -webkit-fill-available;
    max-width: 500px;
    max-height: 600px;
}

.tiles {
   margin-left: 10px;
}

    .tiles > li {
        width: 300px;
        height: 250px;
        display: inline-block;
        position: relative;
        transition: all 0.4s;
        color: #fff;
        margin: 10px;
    }

        .tiles > li a {
            width: 300px;
            height: 250px;
            display: inline-block;
            position: relative;
            transition: all 0.4s;
            color: #fff;
            transform: skew(-30deg, 0deg);
            background-color: #333;
        }

            .tiles > li a:hover {
                background-color: #0f3552;
            }

.tile {
    position: absolute;
    top: 5%;
    left: 10%;
}

    .tile ul {
        list-style-position: inside;
        padding-left: 0;
    }

    .tile h2, .tile li {
        transform: skew(30deg, 0deg);
        margin-bottom: 5px;
    }