html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-size: 18px;
    color: white;
}

.navigation {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 65px;
    z-index: 10;
    padding-right: 0px;
}

.navbar-toggler {
    margin-right: 16px;
}

.navbar-collapse {
    background-color: #0f3552;
    padding-left: 20px;
    height: auto;
    height: 65px;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}

.show, .collapsing {
    border-radius: 25px;
    border: 2px solid white;
    height: auto;
    padding: 10px 0px 10px 25px;
    margin-right: 16px;
}

    .collapsing .ml-auto, .collapsing .ml-auto *,
    .collapsing .ml-0, .collapsing .ml-0 *,
    .show .ml-auto, .show .ml-auto *,
    .show .ml-0, .show .ml-0 * {
        display: inline;
        padding-right: 5px;
    }

#profilePicture {
    max-height: 50px;
}

main {
    padding-top: 65px;
    padding-bottom: 50px;
    width: 100%;
    overflow-x: auto;
}

    main>div {
        padding-right: 5%;
        padding-left: 5%;
    }

.row {
    margin-left: 0px;
    margin-right: 0px;
}

#cookieConsent {
    border-radius: 0px;
    background-color: red;
    color: white;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
}

.alert-text {
    float: left;
    width: 50%;
}

    #cookieConsent a {
        color: blue;
        font-weight: bold;
        text-decoration: underline;
        margin-left: 10px;
    }

    #cookieConsent button {
        color: white;
        opacity: 1;
        background-color: red;
        border: 2px solid white;
        float: right;
        height: 80%;
        position: static;
    }

        #cookieConsent button:hover {
            background-color: #0f3552;
        }        

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    z-index: 10;
    background-color: black;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
}

    footer a {
        margin-left: 10px;
    }