html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-size: 18px;
    color: white;
}

.navigation {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 65px;
    z-index: 10;
    padding-right: 0px;
}

img {
    max-height: 50px;
}

.navbar-collapse {
    background-color: #0f3552;
    padding-left: 20px;
    height: auto;
    height: 65px;
}

.collapsing {
    border-radius: 25px;
    border: 2px solid white;
}

.show {
    border-radius: 25px;
    border: 2px solid white;
    height: auto;
}

.content {
    padding-top: 65px;
    padding-bottom: 60px;
    display: inline-block;
    width: 100%;
    overflow-x: auto;
}

    .content>div {
        padding-right: 5%;
        padding-left: 5%;
    }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 50px;
    padding-left: 5%;
    z-index: 10;
    background-color: black;
    border-top: 1px solid #e5e5e5;
}

    .footer a {
        margin-right: 10px;
    }