body {
  position: relative;
  min-height: 100%;
  font-size: 16px;
  background-image: url('../images/background.jpg');
  color: white;
}

main {
  padding: 20px 0px 60px 0px;
  display: inline-block;
  width: 100%;
  overflow-x: auto;
}

  main.toggled {
    padding-left: 260px;
  }

.border-top {
  border-top: 1px solid #e5e5e5;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  padding-left: 0px;
  z-index: 10;
  background-color: black;
}

  .footer a {
    margin-right: 10px;
  }

  .footer.toggled {
    padding-left: 260px;
  }

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
