@model EditAccountViewModel

@{
  ViewData["Title"] = "EditAccount";
}

<h1>Edit Account</h1>

<form enctype="multipart/form-data" asp-controller="account" asp-action="EditAccount"
      method="post" class="mt-3">
  <div class="form-group row">
    <label asp-for="ProfilePicture" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <div class="custom-file">
        <input asp-for="ProfilePicture" class="form-control custom-file-input">
        <label class="custom-file-label">Choose File...</label>
      </div>
    </div>
  </div>
  <div asp-validation-summary="All" class="text-danger"></div>
  <div class="form-group row">
    <div class="col-sm-6">
      <button type="submit" class="btn btn-primary">Update profile picture</button>
    </div>
    <div class="col-sm-6">
      <button style="float: right;" asp-controller="account" asp-action="DeleteProfilePicture" class="btn btn-primary">Remove profile picture</button>
    </div>
  </div>
  @section Scripts {
    <script>
      $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
          var fileName = $(this).val().split("\\").pop();
          $(this).next('.custom-file-label').html(fileName);
        });
      });
    </script>
  }
</form>

