@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

@section Styles {
    <environment include="Development">
        <link href="~/css/login_registration.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/login_registration.min.css" rel="stylesheet" />
    </environment>
}

<div class="d-flex justify-content-center h-100">

    <div class="card">

        <div class="card-header">
            <h3>Forgot Password</h3>
        </div>

        <div class="card-body">

            <form method="post">

                <div asp-validation-summary="All" class="text-danger"></div>

                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-at"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="email" asp-for="Email">
                </div>

                <div class="form-group">
                    <input type="submit" value="Send Email" class="btn float-right login_btn">
                </div>

            </form>

        </div>

    </div>

</div>
