@model RegisterViewModel

@{
  ViewBag.Title = "User Registration";
}

@section Styles {
  <environment include="Development">
    <link href="~/css/login_registration.css" rel="stylesheet" />
  </environment>
  <environment exclude="Development">
    <link href="~/css/login_registration.min.css" rel="stylesheet" />
  </environment>
}

<div class="d-flex justify-content-center h-100">
  <div class="card">
    <!--start of header-->
    <div class="card-header">
      <h3>Register</h3>
      <div class="d-flex justify-content-end social_icon">
        <a asp-action="ExternalLogin" asp-route-provider="Facebook" asp-route-source="Register">
          <span><i class="fab fa-facebook-square"></i></span>
        </a>
        <a asp-action="ExternalLogin" asp-route-provider="Google" asp-route-source="Register">
          <span><i class="fab fa-google-plus-square"></i></span>
        </a>
      </div>
    </div>
    <!--end of header-->
    <!--start of body-->
    <div class="card-body">
      <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <!--start of username-->
        <span asp-validation-for="Username" class="text-danger"></span>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="username" asp-for="Username">
        </div>
        <!--end of username-->
        <!--start of email-->
        <span asp-validation-for="Email" class="text-danger"></span>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-at"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="email" asp-for="Email">
        </div>
        <!--end of email-->
        <!--start of password-->
        <span asp-validation-for="Password" class="text-danger"></span>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="password" asp-for="Password">
        </div>
        <!--end of password-->
        <!--start of confirm password-->
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="confirm password" asp-for="ConfirmPassword">
        </div>
        <!--end of confirm password-->
        <div class="form-group">
          <input type="submit" value="Register" class="btn float-right login_btn">
        </div>
      </form>
    </div>
    <!--end of body-->
  </div>
</div>
