@model ResetPasswordViewModel

@{
  ViewBag.Title = "Reset Password";
}

@section Styles {
  <environment include="Development">
    <link href="~/css/login_registration.css" rel="stylesheet" />
  </environment>
  <environment exclude="Development">
    <link href="~/css/login_registration.min.css" rel="stylesheet" />
  </environment>
}

<div class="d-flex justify-content-center h-100">
  <div class="card">
    <!--start of header-->
    <div class="card-header">
      <h3>Reset Password</h3>      
    </div>
    <!--end of header-->
    <!--start of body-->
    <div class="card-body">
      <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Token" type="hidden" />
        <input asp-for="Email" type="hidden" />
        <!--start of password-->
        <span asp-validation-for="Password" class="text-danger"></span>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="password" asp-for="Password">
        </div>
        <!--end of password-->
        <!--start of confirm password-->
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="confirm password" asp-for="ConfirmPassword">
        </div>
        <!--end of confirm password-->
        <div class="form-group">
          <input type="submit" value="Reset Password" class="btn float-right login_btn">
        </div>
      </form>
    </div>
    <!--end of body-->
  </div>
</div>
