@{
    ViewData["Title"] = "Contacts";
}

@section Styles {
    <environment include="Development">
        <link href="~/css/home.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/home.min.css" rel="stylesheet" />
    </environment>
}

<h1>@ViewData["Title"]</h1>

<div class="row">

    <div class="col-lg-6">

        <p>Information about me</p>

        <ul>
            <li>Name: Gábor Gróf</li>
            <li>Age: 27</li>
            <li>Location: Budapest, Hungary</li>
            <li>Job: .Net developer at <a href="https://onegsgroup.com/">GSGroup</a></li>
            <li>CV (English): <a href="~/CV_GáborGróf_ENG.pdf">CV_GáborGróf_ENG.pdf</a></li>
            <li>CV (Magyar): <a href="~/CV_GrófGábor_HUN.pdf">CV_GrófGábor_HUN.pdf</a></li>
        </ul>

    </div>

    <div class="col-lg-6">

        <p>Contact me</p>

        <ul>
            <li><i class="fas fa-envelope-square"></i>Email: hungabor01@gmail.com</li>
            <li><i class="fab fa-facebook-square"></i>Facebook: <a href="https://www.facebook.com/hungabor">https://www.facebook.com/hungabor</a></li>
            <li><i class="fab fa-linkedin"></i>LinkedIn: <a href="https://www.linkedin.com/in/g%C3%A1bor-gr%C3%B3f/">https://www.linkedin.com/in/g%C3%A1bor-gr%C3%B3f/</a></li>
        </ul>

    </div>

</div>