@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <environment include="Development">
        <link href="~/css/home.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/home.min.css" rel="stylesheet" />
    </environment>
}

<div class="banner">
    Welcome on my website!
</div>

<div class="row">

    <div class="col-lg-3 me-title">
        <h1>Gábor Gróf<br>.Net developer</h1>
    </div>

    <div class="col-lg-3 me-image">
        <img src="~/images/me.jpg" />
    </div>

    <div class="col-lg-6">

        <h3>The purpose of the website</h3>

        <p>
            I have collected here my projects and implemented features as references of my work and skills. So this website is part of my job portfolio.
        <p />

        <p>
            The website is a reference itself, since it is developed in ASP.Net Core MVC. Therefore, it also works like a practice site for me.
        </p>

        <p>
            Finally, this website contains some functionalities, which I use in my everyday life, like money management or my collected learning materials.
            These are hidden behind registration, but accessible for anyone who logs in. If you think they can be useful for you as well, feel free to use them.
        </p>

        <p>
            If you have any questions or suggestions regarding the website, I welcome every idea. Feel free to contact me any time.
            Note, that this site is always under development, so the content might change from time to time.
        </p>

    </div>

</div>

<div class="row">

    <div class="col-lg-6">
        <a asp-action="Index" asp-controller="ReferenceWork">
            <div id="referenceWork" class="topic">
                <h2>Reference Works</h2>
                <p>My projects and features, which I worked on in my free time or in work.</p>
            </div>
        </a>
    </div>

    <div class="col-lg-6">
        <a asp-action="Index" asp-controller="LearningMaterials">
            <div id="materials" class="topic">
                <h2>Learning Materials</h2>
                <p>
                    I am a self-taught programmer, who learnt almost everything from the internet.
                    I have collected the path that I walked through since the beginning and tried to structure these training materials into a big tutorial.
                </p>
            </div>
        </a>
    </div>
</div>
